/* h1 {
    color: red;
} */

/* Universal Selector */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/


/* ID Selector */

/* #id {
    color: red;
} */



/* Tag Selector */

/* h1#title{
    color: red;
} */

/* Class Selector */

/* li.odd{
    color: red;
} */



/* Attribute Selector  */

/* [href="https://www.google.com"]{
    color: red;
} */


/* Specificity  */

/* #title {
    color: red;
}

h1 {
    color: blue;
} */


/* li {
    color: blue;
}

* {
    color: red !important;
} */


/* #title {
    color: red;
} */


/* CSS Combinators */

/* Descendant combinator (space)
Child combinator (>)
Next sibling combinator (+)
Subsequent-sibling combinator (~) */


/* Descendant combinator (space) */
/* div.first-div h1{
    color: red;
} */


/* Child combinator (>) */
/* .first-div > h1{
    color: red;
} */


/* Next sibling combinator (+) */
/* h1 + p{
    color: red;
} */


/* Subsequent-sibling combinator (~) */
/* h1 ~ p{
    color: red;
}  */

body > .first-div > h1 + p {
    color:red
}